
body {
	padding-top: 70px;
    font-family: "Lato"; 
    	
	}
	
.jumbotron {
	
    color: #2c3e50;
    background: #ecf0f1; 
    /* 	background: url(https://images.unsplash.com/photo-1505414059837-923cdbb755b3;
    background-size: cover;
    background-position: center;  */

    }
    
 .navbar-inverse {
      background: #2c3e50;
      color: white;
    }
    
 .navbar-inverse .navbar-nav>li>a {
      color: white;
    }
    
 .footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #2c3e50;
}         	