<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">

		<div class="row" style="margin-bottom: 10px;">
			<div class="col-xs-12">
				<h2 class="section-headline">
					<h2 class="section-headline">
						 <span th:text="${user} ? ${#strings.toUpperCase(user.username)} : 'All Cars'" 
								style="color: #FCAC0C;"></span>
					</h2>
				</h2>
			</div>
		</div>
		<hr
			style="position: relative; width: 100%; height: 6px; background-color: #F7B633; z-index: -1; margin-top: -80px;" />


		<div class="row" style="margin-top: 60px;">
			 <div class="col-xs-3">
				 <h3>
					<label for="category">Category</label>
				</h3>
				<div class="list-group" id="category">
					<a th:href="@{/carshelf(category='all')}"
						th:classappend="${activeAll}? 'active'" class="list-group-item">All</a>
					<a th:href="@{/searchByCategory(category='Management')}"
						th:classappend="${activeManagement}? 'active'"
						class="list-group-item">Management</a>
						 <a
						th:href="@{/searchByCategory(category='Fiction')}"
						th:classappend="${activeFiction}? 'active'"
						class="list-group-item">Fiction</a> 
						<a
						th:href="@{/searchByCategory(category='Engineering')}"
						th:classappend="${activeEngineering}? 'active'"
						class="list-group-item">Engineering</a>
						 <a
						th:href="@{/searchByCategory(category='Programming')}"
						th:classappend="${activeProgramming}? 'active'"
						class="list-group-item">Programming</a>
						 <a
						th:href="@{/searchByCategory(category='Arts &amp; Literature')}"
						th:classappend="${activeArtsLiterature}? 'active'"
						class="list-group-item">Arts &amp; Literature</a>
				</div> 
			</div> 

			<div class="col-xs-9">
				<div th:if="${emptyList}">
					<h5 style="font-style: italic;">Oops, no result is found. Try
						something else or try again later.</h5>
				</div>

				<table border="0" id="carList">
					<thead>
						<tr>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="car-item" data-th-each="car : ${carList}">
							<td>
								<div th:if="${car != null}">
									<div class="row" style="margin-bottom: 50px;">
										<div class="col-xs-3">
											<a th:href="@{/carDetail?id=}+${car.id}"><img
												class="img-responsive shelf-car"
												th:src="#{adminPath}+@{/image/car/}+${car.id}+'.png'" /></a>
										</div>
										<div class="col-xs-9">
											<a th:href="@{/carDetail?id=}+${car.id}"><h4
													th:text="${car.title}"></h4></a> <span
												th:text="${car.publicationDate}"></span>
											<p th:text="${car.author}"></p>
											<a th:href="@{/carDetail?id=}+${car.id}"><span
												th:text="${#strings.capitalize(car.format)}"></span></a> 
											<span th:text="${car.numberOfPages}"><span>Pages</span></span><br/>                                                 
											<a th:href="@{/carDetail?id=}+${car.id}"><span
												style="font-size: x-large; color: #db3208;">$<span
													th:text="${#numbers.formatDecimal(car.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span></a>

											<span style="text-decoration: line-through;">$<span
												th:text="${#numbers.formatDecimal(car.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>

											<p th:utext="${#strings.abbreviate(car.description, 1000)}"></p>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- end of container -->
	<div th:replace="common/header :: footer" />

	<div th:replace="common/header :: body-bottom-scripts" />

	<script>
		$(document).ready(
				function() {
					$('#carList').DataTable(
							{
								"lengthMenu" : [ [ 5, 10, 15, 20, -1 ],
										[ 5, 10, 15, 20, "All" ] ],
								"ordering" : false,
								stateSave : true
							});

					$("#carList").on('page.dt', function() {
						$('html, body').animate({
							scrollTop : $('#carList').offset().top
						}, 200);
					});
				});
	</script>
</body>
</html>
